narray/basic2darr
narray/studentScore
pointer/addPointer
pointer/address
pointer/arrayAndPointer
pointer/arrisarrptrisptr
pointer/assignPointer
pointer/pointerIsVar
pointer/startPointer
pointer/subPointer
pointer/1DArray
pointer/2Darray
pointer/arrNameIsAddr
pointer/doublePointer
pointer/pointerArray
pointer/thisIsArrayPointer
function/basicFuntion
function/pointerParamFunction
function/swap
function/prototype
function/arrayParam
function/2DArray
function/functionPointer
function/reviewPointerParam
string/nullTerminater
string/reviewPointer
string/startString
string/startString
string/changeChar
string/strlen
string/inputString
string/weirdScanf
string/weirdS
string/becareful%c
string/becareful%c
string/copy_str
struct/first_struct
struct/second_struct
struct/struct_example
struct/struct_pointer
struct/practice_structP
struct/parameter_type_struct
struct/practice_structP
struct/struct_assign
struct/struct_in_struct
struct/enum
struct/union
Condition-of-parameter-survive-and-Struct-of-data-segmentation/main
# File/main
File/define
File/ifdef
File/useLibrary
