narray/basic2darr
narray/studentScore
pointer/addPointer
pointer/address
pointer/arrayAndPointer
pointer/arrisarrptrisptr
pointer/assignPointer
pointer/pointerIsVar
pointer/startPointer
pointer/subPointer
pointer/1DArray
pointer/2Darray
pointer/arrNameIsAddr
pointer/doublePointer
pointer/pointerArray
pointer/thisIsArrayPointer
function/basicFuntion
function/pointerParamFunction
function/swap
function/prototype
function/arrayParam
function/2DArray
function/functionPointer
function/reviewPointerParam
string/nullTerminater
string/reviewPointer
string/startString
string/startString
string/changeChar
string/strlen
string/inputString
string/weirdScanf
string/weirdS
string/becareful%c
string/becareful%c
string/copy_str

